@font-face {
  font-family: 'Juana';
  src: url('/assets/fonts/juana-regular.ttf') format('truetype'); /* Verifique se o caminho está correto */
  font-weight: 400;
  font-style: normal;
}

.whatYouFind {
    background-image: url('https://raw.githubusercontent.com/lh5818181/servidor-estatico-aureaFinanceira/refs/heads/main/IMGFundo/5-FundoWhatYouFind.jpg');
    background-size: cover;
    background-position: center;
    padding: 10rem 9rem;
    display: flex;
    justify-content: center;
  }
  
  .container {
    max-width: 1240px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
    text-align: center;
}
  
  .title {
    font-family: 'Juana';
    font-size: 2rem;
    font-weight: 500;
    color: #111111;
  }
  
  .title span {
    font-weight: 600;
  }
  
  .cards {
        display: grid;
        grid-template-columns:  1fr 1fr;
        gap: 2rem;
        justify-content: center;
  }
  
  
  .card {
    background-color: #ffffff;
    border: 2px solid #b2935b;
    padding: 2rem 1.5rem;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    max-width: 320px;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 6px;
    margin-bottom: 40px;
  }
  
  .icon {
    width: 100px;
    height: 100px;
    object-fit: contain;
    margin: 0 auto;
    margin-bottom: 10px;
  }
  
  .cardTitle {
    font-size: 1.125rem;
    font-weight: 600;
    color: #1c211b;
    font-family: 'Poppins', sans-serif;
    margin: 0;
  }
  
  .cardText {
    font-size: 0.95rem;
    color: #1c211b;
    font-style: italic; /* Adiciona itálico ao texto */
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
  

/* Responsividade para tablets */
@media (max-width: 1080px) {
  .whatYouFind {
    padding: 6rem 4rem;
  }

  .title {
    font-size: 1.75rem;
  }

  .cards {
    grid-template-columns:  1fr 1fr;
    gap: 2rem;
    justify-content: center;
  }

  .card {
    max-width: 280px;
  }

  .icon {
    width: 80px;
    height: 80px;
  }

  .cardTitle {
    font-size: 1rem;
  }

  .cardText {
    font-size: 0.875rem;
  }
}

/* Responsividade para smartphones */
@media (max-width: 768px) {
  .whatYouFind {
    padding: 4rem 2rem;
  }

  .title {
    font-size: 1.5rem;
  }

  .cards {
    grid-template-columns: 1fr; /* Mantém uma coluna em smartphones */
    gap: 1rem;
  }

  .card {
    max-width: 240px;
    padding: 1.5rem 1rem;
  }

  .icon {
    width: 60px;
    height: 60px;
  }

  .cardTitle {
    font-size: 0.875rem;
  }

  .cardText {
    font-size: 0.75rem;
  }
}