/* Estilo para a seção principal */
.heroSection {
  padding: 4rem 1.5rem; /* Substitui py-16 px-6 */
  background-image: url('https://raw.githubusercontent.com/lh5818181/servidor-estatico-aureaFinanceira/refs/heads/main/IMGFundo/2-FundoHero.jpg'); /* Substitui bg-[url('/src/assets/images/hero.png')] */
  background-repeat: no-repeat; /* Evita repetição da imagem */
  background-size: cover; /* Ajusta a imagem para ocupar 100% da largura */
  background-position: center; /* Centraliza a imagem */
}
  
  
  /* Estilo para o conteúdo */
  .heroContent {
    max-width: 64rem;
    text-align: center;
    color: white;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    margin: auto;
  }
  
  /* Estilo para o texto principal */
  .heroText {
    font-size: 30px; /* Substitui text-xl */
    font-weight: 500; /* Substitui font-medium */
    margin-bottom: 0;
  }
  
  /* Estilo para o texto secundário */
  .heroSubText {
    font-size: 30px; /* Substitui text-base */
    font-weight: 300; /* Substitui font-light */
    margin-top: 0;
  }

  .Fbold {
    color: #27331a;
    font-weight: bold;
  }
  
  
  /* Estilo para o texto em itálico */
  .heroItalic {
    font-style: italic; /* Substitui italic */
  }
  
  /* Estilo para o texto em negrito */
  .heroStrong {
    color: white; /* Substitui text-white */
  }

  