.forwhom {
  background-color: #243128;
  color: #fff;
  padding: 4rem 1.5rem;
}

.forwhom-content {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  gap: 14rem;
}


.forwhom-left {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  flex: 1;
}

.forwhom-mockup {
  width: 24px;
  border-radius: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Adiciona uma sombra suave */
}

.forwhom-text-block {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.forwhom-title {
  font-family: 'Juana';
  font-size: 1.875rem;
  color: #fff;
}

.forwhom-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 1rem;
}

.forwhom-list li {
  display: flex;
  align-items: flex-start;
  gap: 0.5rem;
  line-height: 1.6;
  color: #faf2e9;
  font-family: 'Poppins';
}

.forwhom-right {
  flex: 1;
  display: flex;
  justify-content: center;
}

.forwhom-image {
  max-width: 360px;
  width: 100%;
  object-fit: cover;
  border-radius: 1rem;
}

/* Responsividade para tablets */
@media (max-width: 768px) {
  .forwhom-content {
      flex-direction: column; /* Altera o layout para uma coluna */
      gap: 3rem; /* Reduz o espaçamento entre os blocos */
  }

  .forwhom-left {
      align-items: center; /* Centraliza o conteúdo */
      text-align: center; /* Alinha o texto ao centro */
  }

  .forwhom-list {
      align-items: center; /* Centraliza os itens da lista */
  }

  .forwhom-image {
      max-width: 300px; /* Reduz o tamanho máximo da imagem */
  }
}

/* Responsividade para smartphones */
@media (max-width: 480px) {
  .forwhom {
      padding: 2rem 1rem; /* Reduz o padding */
  }

  .forwhom-content {
      gap: 2rem; /* Diminui o espaçamento */
  }

  .forwhom-title {
      font-size: 1.5rem; /* Reduz o tamanho do título */
  }

  .forwhom-list li {
      font-size: 0.9rem; /* Ajusta o tamanho da fonte */
  }

  .forwhom-image {
      max-width: 100%; /* Permite que a imagem ocupe 100% da largura disponível */
      border-radius: 0.5rem; /* Ajusta os cantos arredondados */
  }
}
