.gallery {
  position: relative;
  overflow: hidden;
  background-color: #f8f8f8;
  padding: 2rem 1rem;
}

.sliderWrapper {
  display: flex;
  overflow: hidden;
  width: 100%;
}

.sliderTrack {
  display: flex;
  width: max-content;
}

.gridItem {
  flex: 0 0 auto;
  width: 200px; /* Ajuste conforme necessário */
  margin: 0 10px;
  cursor: pointer;
}

.gridItem img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  transition: transform 0.3s ease;
}

.gridItem img:hover {
  transform: scale(1.05);
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContent {
  max-width: 90%;
  max-height: 90%;
  display: flex;
  justify-content: center;
}

.modalContent img {
  width: 50%;
  height: 100%;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

/* Responsividade para tablets */
@media (max-width: 1080px) {
  .gridItem {
    width: 150px; /* Reduz o tamanho das imagens */
    margin: 0 8px;
  }

  .modalContent img {
    width: 70%; /* Ajusta o tamanho da imagem no modal */
  }
}

/* Responsividade para smartphones */
@media (max-width: 768px) {
  .gridItem {
    width: 120px; /* Reduz ainda mais o tamanho das imagens */
    margin: 0 5px;
  }

  .modalContent img {
    width: 90%; /* Ajusta o tamanho da imagem no modal */
  }
}